* {
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
  border: none;
  outline: none;
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: rgb(224, 224, 224);
  display: flex;
  align-items: center;
  justify-content: center;
}

.TodoBox {
  background-color: rgb(241, 241, 241);
  width: 60vw;
  padding: 20px;
  border-radius: 10px;
}

.SearchBox {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 14px 12px;
  border-radius: 6px;
}

.SearchBox input {
  font-size: 17px;
  width: 100%;
}

.SearchBox button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px 20px;
  background-color: rgb(241, 241, 241);
  border-radius: 6px;
  font-size: 18px;
}

/* Add Task */
.AddTask {
  margin-top: 20px;
}

.ActiveTask {
  width: 100%;
  border-radius: 6px;
  color: white;
  padding: 20px;
}

.ActiveTask {
  background-color: rgb(8, 158, 8);
}

.completedTask {
  background-color: rgb(240, 27, 27);
}

.TaskBox {
  background-color: white;
  color: black;
  padding: 12px;
  border-radius: 4px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(94, 94, 94);
  font-size: 18px;
}

.TaskIcons i {
  margin-right: 6px;
  cursor: pointer;
}

.inputEditbox {
  background-color: rgb(241, 241, 241);
  padding: 5px;
}
